<div (click)="clicked()">
    <div *ngIf="!isClicked">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{result._source.title}} - {{result._source.artist}}
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
    <div *ngIf="isClicked" style="white-space: pre-line;">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{result._source.title}}
                </mat-card-title>
                <mat-card-subtitle>Artist - {{result._source.artist}}</mat-card-subtitle>
                <mat-card-subtitle>Lyrics - {{result._source.writer}}</mat-card-subtitle>
                <mat-card-subtitle>Music - {{result._source.composer}}</mat-card-subtitle>
                <mat-card-subtitle>Genre - {{result._source.genre}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{result._source.formattedLyrics}}
            </mat-card-content>
        </mat-card>
    </div>
</div>